#board {
  margin-top: 10px;
}
/*#row{*/
  /*border-color: black
  border-thickness: 2px;
  border-style: solid;
}*/

.box {
  border: 1px solid black;
  height: 150px;
}

/*.a {
  border-left:1px solid #000;
    border-right:1px solid #000;
}
.b {
  border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.col-md-4 {
  width: 100px;
  height: 100px;
}*/
